@import "../../base.scss";
 
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: $black-primary;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    &_menu{
        display: none;
    }

    &_logo{
        width: 30px;
        height: 30px;
        object-fit: contain;
        display: block;
    }

    form{
        flex: 0.6;
        display: flex;
        padding: 0.1rem;
        margin: 0.1rem;
        border-radius: 3px;
        border: 1.2px solid;
        background-color: $black-secondary;

        input{
            width: 100%;
            border: none;
            font-weight: 500;
            background: transparent;
            padding: 0.3rem;
            color: $text-color;

            &:focus{
                outline: none;
            }
        }

        button{
            padding: 0 1.25rem;
            color: $text-color;
            background:  transparent;
            border: none;
            &:focus{
                border: none;
            }
        }
    }

    &_icons{
        flex: 0.15;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img{
            border-radius: 50%;
            width: 40px;
            object-fit: contain;
            margin-left: 5px;
        }
    }
}

.red-modal-background {
    .modal-content {
        background-color: #212121;
        height: 40%;
    }

    .modal-header{
        border-bottom: none;
       color: #fff;
        padding-bottom: 20%;
        .modal-title{
            font-size: 20px;
        }
    }

    .modal-body{
        
       
        .btn-close{
            color: #fff;
        }
        .circle_active {
            width: 50px; /* Kích thước ban đầu của hình tròn */
            height: 50px; /* Kích thước ban đầu của hình tròn */
            background-color: red; /* Màu nền của hình tròn */
            border-radius: 50%; /* Tạo hình tròn */
            display: flex;
            justify-content: center;
            align-items: center;
            animation: pulse 2s infinite alternate;
            margin-bottom: 10px;
            @keyframes pulse {
                0% {
                  transform: scale(1); /* Kích thước ban đầu */
                }
                100% {
                  transform: scale(1.2); /* Kích thước lớn lên 1.2 lần */
                }
              }
          }

          .circle_inactive{
            width: 50px; /* Kích thước ban đầu của hình tròn */
            height: 50px; /* Kích thước ban đầu của hình tròn */
            background-color: #515050; /* Màu nền của hình tròn */
            border-radius: 50%; /* Tạo hình tròn */
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            cursor: pointer;
          }
       
    }
    p{
        font-size: 15px;
    }
   
  }



@media(max-width: $breakpoint-small){
    .header{
        padding: 1rem;

        form{
            flex: 1;
        }
    
        &_menu{
            display: block;
        }
    
        &_logo{
            display: none;
        }
    
        &_icons > *:not(img){
            display: none;
        }
    }
}